/* Everything */
  * {
  margin: 0;
  padding: 0;
  }

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@900&display=swap');

/* Navbar */

.nav-text {
  display: flex;
  justify-content: space-around;

width: 100%;
}

.sign-btn {
  background-color: white;
  white-space: nowrap;
}

.register-btn {
  background-color: #EF6A31;
  padding: 10px 20px;
  border-radius: 5%;
  font-family: Roboto;
}

.sign-btn, .register-btn {
  border: none;
}

.nav-text, .nav-link, .sign-btn {
  font-family: Roboto;
  color: #293646;
}

.sign-btn:hover:hover {
  background-color: white; /* Reset the background color to normal state */
  color: #293646; /* Reset the text color to normal state */
}

.register-btn:hover:hover {
  background-color: #EF6A31; /* Reset the background color to normal state */
}

/* HomePage */

.hero-container-left {
width: 100%;
}

.hero-subtext {
  color: #293646;
  
}

.hero-title, .hero-cta {
  font-family: Roboto;
}

.book-ride-btn {
  background-color: #EF6A31;
}

.learn-more-btn {
  background-color: #293646;
}

.btn-container {
  display: flex;
  gap: 1em;
}

.book-ride-btn, .learn-more-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5%;
  font-family: Roboto;
}

.book-ride-btn:hover:hover {
    background-color: #EF6A31; /* Reset the background color to normal state */
    color: white; /* Reset the text color to normal state */
  }

  .learn-more-btn:hover:hover {
    background-color: #293646; /* Reset the background color to normal state */
    color: white; /* Reset the text color to normal state */
  }

  .mercedes {
    width: 100%;
  }

  .hero {
    display: flex;
    width: 100%;
    padding: 1em;
    margin-top: 5em;
  }

  .circle {
    background-color: red;
    border-radius: 50%;
    z-index: -1;
    width: 100%;
  }